*{
 padding: 0;
 margin: 0;
 font-family: 'Josefin sans' , sans-serif;
 box-sizing: border-box;





}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color:black;
    

}
 .about img{

     height: auto;
     width: 420px;
     




}
.about-text{
  width: 550px;


}

.main{
   width: 1130px;
   max-width: 95%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-around;



}
.about-text h4{
   color: white;
   font-size: 50px;
   text-transform: capitalize;
   margin-bottom: 20px;




}


.about-text h5{
   color: white;
   
   text-transform: capitalize;
   margin-bottom: 20px;
}

.about-text p{
   color: white;
  letter-spacing: 1px;
  line-height: 28px;
   text-transform: capitalize;
   margin-bottom: 45px;
   font-size: 18px;



}

button{
  background:darkgoldenrod;
  color: floralwhite;
  text-decoration: none;
  border: 3px solid transparent;
  font-weight: bold;
  padding: 13px 30px ;
  border-radius: 30px;
}


span{ 

	color:silver;
  
}

.container{
    max-width: 1770px;
    margin: auto;

}

ul{

	list-style: none;
}

.row{
  display: flex;
  flex-wrap: wrap;


}





.footer{

   height: 110px;
  padding: 40px ;
 background-color:#221F1F;
 display: inline block;

}

.footer-column{
 display: inline-block;
 width: 30%;
 padding:0 55px;
 font-size: 18px;
 

  text-transform: capitalize;
  
}

.footer-column h4 {  
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 10px;
   
  text-underline-position: under;
text-decoration: underline;
display: inline-block;
}

.footer-column  a {

 font-size: 18px;
word-spacing: 10px;
justify-content: space-around;
  margin-bottom: 20px;
color: darkgray;
text-decoration: none;
  margin-left:0px;
}

.social-links{
word-spacing: 10px;

}


