<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ticket.css' %}">
	
	<title>ticket</title>
    </head>
<body style="background-color:black;">
	<h2>RESERVED</h2>
	<h3>Ticket ID :</h3>
	<h3>Name :</h3>
	

	
	<script src="{% static 'js/ticket.js' %}"></script>
    
	<p id="price"></p>
	<h1>your seat is successfully reserved  </h1>
	 <p>Click the button to print this page.</p>

    <button onclick="printFunction()">Print</button>
    <script>
      function printFunction() { 
        window.print(); 
      }
    </script>

	</body>